{% extends 'flatpages/default.html' %}


{% block title %}
News
{% endblock title %}


{% block content %}
<h1>Все новости.</h1>



<hr>
<table>
 {% for post in news %}
           <tr style="height: 100px;">
               <td style="height: 100px;">{{ post.name_news }}</td>
               <td style="height: 100px;">{{ post.data_time }}</td>
               <td style="height: 100px;">{{ post.preview }}</td>
           </tr>
           {% endfor %}
</table>

{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}